<section class="contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="content-field">
      <div class="form-box">
        <p class="form-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>

        <form class="form">
          <label class="form-label" for="user-name">Name</label>
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
          />

          <label class="form-label" for="mail">Email</label>
          <input
            class="form-input"
            type="email"
            name="mail"
            id="mail"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />

          <label class="form-label" for="phone">Phone</label>
          <input
            class="form-input"
            type="tel"
            name="phone"
            id="phone"
            placeholder="+380"
            required
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
          />

          <label class="form-label" for="user-comment">Comment</label>
          <textarea
            class="comment-input"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
          <button class="form-button" type="submit">Send</button>
        </form>
      </div>

      <picture>
        <source
          srcset="./img/contact/desk1x.webp 1x, ./img/contact/desk2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/contact/tab1x.webp 1x, ./img/contact/tab2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/contact/mob1x.webp 1x, ./img/contact/mob2x.webp 2x"
          media="(max-width: 767px)"
        />

        <img
          src="./img/contact/tab1x.webp"
          alt="watch picture"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
