<footer class="footer-mob">
  <div class="conteiner-title">
    <div class="logo">
      <a href="logo-logo" href="./index.html">watchcharm</a>
    </div>
    <div class="social-conteiner">
      <ul class="footer-icons-list">
        <li class="footer-icon-item">
          <a href="" class="footer-icon-link">
            <svg class="footer-icon-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a href="" class="footer-icon-link">
            <svg class="footer-icon-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a href="" class="footer-icon-link">
            <svg class="footer-icon-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
