<section class="hero" id="hero">
  <div class="container container-hero">
    <div class="hero-wrap">
      <div class="hero-text-wrap">
        <h1 class="hero-title">
          Welcome to our <span class="hero-accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-face-wrap">
        <a href="#reviews">
          <picture>
            <source
              srcset="
                ./img/hero/hero-face-desc.webp   1x,
                ./img/hero/hero-face-desc2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/hero-face-tab.webp   1x,
                ./img/hero/hero-face-tab2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/hero-face-mob.webp   1x,
                ./img/hero/hero-face-mob2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-face"
              src="./img/hero/hero-face-desc.webp"
              alt="people"
              loading="lazy"
            />
          </picture>
        </a>
        <a class="hero-scroll" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero/hero-watch-desc.webp   1x,
          ./img/hero/hero-watch-desc2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/hero-watch-tab.webp   1x,
          ./img/hero/hero-watch-tab2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero/hero-watch-mob.webp   1x,
          ./img/hero/hero-watch-mob2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-watch"
        src="./img/hero/hero-watch-desc.webp"
        alt="watch"
        loading="lazy"
      />
    </picture>
  </div>
</section>
