<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container">
      <div class="sale-block-photo">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-menu-1x.png 1x,
                  ./img/sale/sale-menu-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-menu-mob-1x.png 1x,
                  ./img/sale/sale-menu-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-pic"
                src="./img/sale/sale-menu-1x.png"
                alt="Menu"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-front-1x.png 1x,
                  ./img/sale/sale-front-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-front-mob-1x.png 1x,
                  ./img/sale/sale-front-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-pic"
                src="./img/sale/sale-front-1x.png"
                alt="Front"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-side-1x.png 1x,
                  ./img/sale/sale-side-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-side-mob-1x.png 1x,
                  ./img/sale/sale-side-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-pic"
                src="./img/sale/sale-side-1x.png"
                alt="Side"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-back-1x.png 1x,
                  ./img/sale/sale-back-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/sale-back-mob-1x.png 1x,
                  ./img/sale/sale-back-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-pic"
                src="./img/sale/sale-back-1x.png"
                alt="Back"
              />
            </picture>
          </li>
        </ul>

        <div class="sale-active-wrapper">
          <picture>
            <source
              srcset="
                ./img/sale/sale-active-1x.png 1x,
                ./img/sale/sale-active-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale/sale-active-mob-1x.png 1x,
                ./img/sale/sale-active-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-active-pic"
              src="./img/sale/sale-active-1x.png"
              alt="Front"
            />
          </picture>
        </div>
      </div>

      <div class="sale-content">
        <h3 class="sale-content-subtitle">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="article">Product tag: 706587</p>
        <div class="sale-price-block">
          <p class="sale-prise">€1500</p>
          <p class="full-prise">€3000</p>
        </div>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-functions-list">
          <li class="functions-list-item">
            <p>Fused carbon fiber</p>
          </li>
          <li class="functions-list-item">
            <p>Grade-5 Titanuim</p>
          </li>
          <li class="functions-list-item">
            <p>Athlete</p>
          </li>
          <li class="functions-list-item">
            <p>Golfer</p>
          </li>
          <li class="functions-list-item">
            <p>Commander</p>
          </li>
          <li class="functions-list-item">
            <p>Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
