/* ______________about us__________ */

.container {
  padding: 0 20px;
}
.about-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.64px;
  font-family: Gilroy;
  color: #0c0c0c;
}

.about-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  color: rgba(12, 12, 12, 0.7);
  padding: o 20px;
  margin-bottom: 20px;
}
