/* ______________about us__________ */

.about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-wrap {
  border-radius: 30px;
  background: #f3f3f3;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.about-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.about-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-text:nth-child(3) {
  margin-bottom: 40px;
}

.about-btn-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 16px;
  background-color: #3350e9;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn-us:hover,
.about-btn-us:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-wrap {
    border-radius: 50px;
    padding: 80px 60px;
    margin-bottom: 40px;
  }

  .about-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-text:nth-child(3) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
}
