.advertise {
  padding-top: 30px;
  padding-bottom: 30px;
}

.adv-container {
  padding: 60px 28px;
  background-color: #0c0c0c;
  background-image: url(../img/advertisement/BGup-mob.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .adv-container {
    background-image: url(../img/advertisement/BGup-mob@2x.webp);
  }
}

.advert-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.advert-span {
  color: rgba(251, 251, 251, 0.5);
}

.advert-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  align-content: center;
}

.advert-link:hover,
.advert-link:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .advertise {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .adv-container {
    padding: 80px 64px;
    background-image: url(../img/advertisement/BGup-tb.webp);
  }
  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .adv-container {
      background-image: url(../img/advertisement/BGup-tb@2x.webp);
    }
  }

  .advert-text {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .advertise {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .adv-container {
    padding: 83px 80px;
    background-image: url(../img/advertisement/BGup-desk.webp);
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .adv-container {
      background-image: url(../img/advertisement/BGup-desk@2x.webp);
    }
  }

  .advert-wrap {
    display: flex;
    gap: 140px;
  }

  .advert-text {
    max-width: 690px;
    margin-bottom: 0;
  }
}
