.container-catalog {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.title-cat {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  text-align: start;
}

.list-cat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item-cat {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 364px;
  background-color: #f3f3f3;
}

.img {
  margin: 42px 64px 28px 63px;
}

.text-name-price {
  margin: 0 28px 24px 28px;
  text-align: start;
}

.watch-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.text-card {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.show-btn {
  border-radius: 16px;
  min-width: 160px;
  height: 48px;
  background-color: #3350e9;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #1f3cd4;
}

.item-cat-visibility {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .list-cat {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }

  .item-cat {
    width: 344px;
    height: 414px;
  }

  .img {
    margin: 34px 38px 20px 38px;
  }

  .watch-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }

  .watch-name-text {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-cat-visibility {
    display: block;
  }

  .show-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container-catalog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .list-cat {
    justify-content: center;
    gap: 23px;
  }

  .item-cat {
    width: 368px;
    height: 414px;
  }

  .watch-name-text {
    max-width: 304px;
  }
}
