.footer-mob {
  width: 375px;
}

.conteiner-title {
}

.logo {
}
.logo-logo {
}

.social-conteiner {
}

.footer-icons-list {
}

.footer-icon-item {
}

.footer-icon-link {
}

.footer-icon-icon {
}
/* Стили для адаптивности */
/* @media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-icons-list {
    margin-top: 10px;
  }
} */
