
.header{
    padding: 20px;
}
 
.header-menu {
    max-width: 375px;
    margin: 0 auto;
}

.container {
    padding: 20px 0px 0px 0px;
    max-width: 375px;
    height: 74px;
}

.header-nav-mob {
    align-items: center;
}

.header-mob {
  justify-content: baseline;
}

.header-wrap-desk{
    display: none;
}

.logo-mob {
        font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            padding-left: 20px;
            padding-bottom: 27.5px;
}

.header-nav-mob {
    display: flex;
    justify-content: space-between;
}

    .logo {
        display: none;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 27.5px;
        padding-bottom: 27.5px;
    }

.header-btn {
    stroke: black;
    fill: black;
        /* padding: 0; */
        line-height: 0;
        border: none;
        background-color: transparent;
        margin-bottom: 25px;
                /* position: relative; */
        }
    .nav-list {
        display: none;
    }

    .nav-link {
        display: none;
    }

    .nav-soc {
        display: none;
    }

    /*mob-menu*/
.mob-menu{
    width: 200px;
        height: 812px;
        z-index: 999;
        position: fixed;
        display: flex;
        top: 0;
        flex-direction: column;
        background-image: url(../img/header/fon-1x.jpg);
        padding: 24px 24px 40px 16px;
        overflow: auto;
        visibility: visible;
        /*hidden;*/
        pointer-events: 0;
        /* opacity: 0;*/
        background-repeat: no-repeat;
        background-position: center center;
        
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192ppi) {
    .hero-wrap {
        background-image: url(../img/header/fon-2x.jpg);
    }
}

.menu-close-bth{
    stroke-width: 2.50px;
    width: 17px;
    height: 17px;
    line-height: 0;
    border: none;
    background-color: transparent;
    }

.menu{
    max-width: 73px;
    height: 238px;
    margin: 240px 64px 334px 63px;
}

/*.mob-menu-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: FBFBFB;
}*/

.mob-menu-link{
        font-weight: 500;
            font-size: 14px;
            line-height: 129%;
            text-align: center;
            color: FBFBFB;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .header-wrap-desk {
        display: unset;
    }
.open-menu-btn{
    display: none;
}

/*mob-menu*/

}

@media screen and (min-width: 1280px) {
 .container {
        max-width: 1280px;
        padding: 0 65px;
    }


.header {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 1280px;
    height: 88px;
}

.header-wrap-desk {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    max-width: 1280px;
   padding-top: 26px;
}

.header-mob {
    display: none;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: unset;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
     padding-right: 230px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-list {
    display: flex;
    gap: 40px;
    min-width: 505px;
   
}

.nav-link {
     color: 0C0C0C;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-soc {
    padding-left: 203px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    gap: 10px;
}

.nav-soc-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}

 .nav-soc-link:hover,
 .nav-soc-link:focus {
    color: 3350E9;
 }

.open-menu-btn {
        stroke: black;
            padding: 0;
            line-height: 0;
            border: none;
            background-color: transparent;
            position: relative;
            padding-right: 211px;
            padding-top: 20px;
            padding-bottom: 20px;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        } 
    }