.hero {
  padding-top: 60px;
  padding-bottom: 30px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.hero-face-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
    max-width: 480px;
  }

  .hero-face-wrap {
    flex-direction: column;
    margin-bottom: 0;
    min-width: 136px;
  }

  .hero-scroll {
    font-size: 20px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero-text-wrap {
    max-width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-face-wrap {
    min-width: 146px;
  }
}
