.sale {
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.sale-list {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.sale-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background: #f3f3f3;
  width: 80px;
  height: 80px;
  padding: 13px 0;
}
.sale-list-pic {
  width: 52px;
  height: 54px;
  margin: 0 auto;
}

.sale-active-wrapper {
  border: 1px solid rgba(12, 12, 12, 0.05);
  background: #f3f3f3;
  border-radius: 30px;
  width: 100%;
  height: 385px;
  padding: 50px 0;
  margin-bottom: 20px;
}

.sale-active-pic {
  width: 235px;
  height: 285px;
  margin: 0 auto;
}

.sale-content {
  border-radius: 30px;
  width: 100%;
  background: #3350e9;
  padding: 48px 28px;
}

.sale-content-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.article {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-price-block {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}

.sale-prise {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  min-width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
  text-align: center;
  padding: 8px 0;
}
.full-prise {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.sale-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}
.sale-functions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.functions-list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  height: 32px;
  padding: 8px 12px;
}

/* ----------Tablet version-------- */

@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 48px;
    line-height: 0.92;
  }

  .sale-list {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  .sale-list-item {
    width: 132px;
    height: 132px;
    padding: 16px 0;
  }
  .sale-list-pic {
    width: 96px;
    height: 100px;
  }

  .sale-active-wrapper {
    width: 552px;
    height: 558px;
    padding: 80px 0;
    display: inline-block;
    margin: 0;
  }

  .sale-active-pic {
    width: 328px;
    height: 398px;
  }
  .sale-block-photo {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  .sale-content {
    padding: 60px;
  }

  .sale-content-subtitle {
    max-width: 436px;
    font-size: 32px;
    line-height: 1.13;
  }

  .sale-price-block {
    margin-bottom: 30px;
  }
  .sale-prise {
    font-size: 20px;
    min-width: 78px;
    font-size: 20px;
    line-height: 1;
  }

  .sale-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .sale-functions-list {
    width: 398px;
  }
  .functions-list-item {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .sale-container {
    display: flex;
    gap: 40px;
  }
  .sale-active-wrapper {
    width: 428px;
    height: 558px;
  }

  .sale-content {
    width: 530px;
    height: 558px;
  }
  .sale-content-subtitle {
    max-width: 389px;
  }
}
